.photoarea {
    width: 70%;
    height: 70%;
    background: #fff;
    border: solid 3px #FF6600;
    margin-bottom: 30px;
    border-radius: 8px;
}
.bodycontent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 70%;
    height: 55px;
    border: 0;
    background: #FF6600;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}